<a href="https://colab.research.google.com/github/Sejal2005sharma/Sejal-sharma/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi how are you")

hi how are you

In [ ]:
print("Sejal sharma")

Sejal sharma

In [ ]:
print("     Bio Data   ")
print("Name : Sejal Sharma")
print("Father name : sh. Rakesh Kumar Sharma")
print("Mother name : smt. Anita Kumari Sharma")
print("Date of birth : 01/11/2005")
print("Gender        : female")
print("Nationality   : Indian")
print("   Contact Information")
print("Address :Hamirpur(Himachal Pradesh)")
print("Mobile no : 8628050660")
print("email id : sharmaa05807@gmail.com")

     Bio Data
Name : Sejal Sharma
Father name : sh. Rakesh Kumar Sharma
Mother name : smt. Anita Kumari Sharma
Date of birth : 01/11/2005
Gender        : female
Nationality   : Indian
   Contact Information
Address :Hamirpur(Himachal Pradesh)
Mobile no : 8628050660
email id : sharmaa05807@gmail.com

In [ ]:
a = 5
b=6
c=a+b
print("sum of two numbers:",a+b)
print("subtract of two numbers:",a-b)
print("multiply of two numbers:",a*b)
print("division of two numbers:",a/b)
print("mod of two numbers:",a%b)


a=4
b=6
print(f"sum is{a+b}")
print(f"subtract is{a-b}")
print(f"multiply is{a*b}")
print(f"division is {a/b}")
print(f"mod is {a%b}")


item1 = "samosa"
total_price_of_item1 = 50
item2="pizza"
total_price_of_item2 = 400
item3="burger"
total_price_of_item3 = 500
total_bill = total_price_of_item1+total_price_of_item2+total_price_of_item3
print(total_bill)

discount_percent = 20
discount_percent= total_bill*discount_percent/100
print(discount_percent)
total_bill_pay = total_bill-discount_percent
print(total_bill_pay)




item1="choclates"
total_price_of_item1= 200
item2="cake"
total_price_of_item2=300
item3="chips"
total_price_of_item3=400
item4="icecream"
total_price_of_item4=500
item5="pizza"
total_price_of_item5=600
item6="burger"
total_price_of_item6=700
total_bill=total_price_of_item1+total_price_of_item2+total_price_of_item3+total_price_of_item4+total_price_of_item5+total_price_of_item6
print(total_bill)
discount_percent = 30
discount_percent=total_bill*discount_percent/100
print(discount_percent)
total_bill_pay = total_bill-discount_percent
print(total_bill_pay)



p = 34000
r = 256
t = 4
simple_interest = (p*r*t/100)
print(simple_interest)

p = int(input("enter principle_amount:"))
r = int(input("enter rate:"))
t= int(input("enter time_period:"))
simple_interest= p*r*t/100
print(simple_interest)

sum of two numbers: 11
subtract of two numbers: -1
multiply of two numbers: 30
division of two numbers: 0.8333333333333334
mod of two numbers: 5
sum is10
subtract is-2
multiply is24
division is 0.6666666666666666
mod is 4
950
190.0
760.0
2700
810.0
1890.0
348160.0
enter principle_amount:35000
enter rate:3
enter time_period:2
2100.0

In [ ]:
p = int(input("enter principle_amount:"))
r = int(input("enter rate:"))
t= int(input("enter time_period:"))
simple_interest= p*r*t/100
print(simple_interest)
total_pay=p+simple_interest
print(total_pay)

enter principle_amount:45000
enter rate:34
enter time_period:2
30600.0
75600.0

In [ ]:
name = input("enter your name:")
age = int(input("enter your age:"))
father_name=input("enter your fathername:")
mother_name=input("enter your mothername:")
date_of_birth=(input("enter your dateofbirth:"))
address=input("enter your address:")
gender=input("enter your gender:")
qualification=input("enter your qualification:")

enter your name:sejal
enter your age:20
enter your fathername:sh.rakesh sharma

In [ ]:
item1=input("enter name of iterm1:")
total_price1=int(input("enter total_price1:"))
item2=input("enter name of item2:")
total_price2=int(input("enter total_price2:"))
item3=input("enter name of item3:")
total_price3=int(input("enter total price3:"))
total_bill_pay= total_price1+total_price2+total_price3
discount=int("enter the value of discount:")
discount_percent=total_bill_pay*discount/100
total_payment=discount_percent-total_bill_pay

In [6]:
num=-4
if num>0:
  print("+ve")
elif num==0:
  print("zero")
else:
  print("-ve")

-ve

In [8]:
num= 5
if num % 2 == 0:
  print("even")
else:
  print("odd")

odd

In [31]:
gender="male"
age = 30
if gender=="male":
  print("building b1")
  if age>=30:
   print("hotel a")
  else:
    print("hotel b")
else:
    print("building b2")
    if age >=50:
      print("hotel a")
    else:
      print("hotel b")

building b1
hotel a